{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.0-alpha3"}
        net.mikera/core.matrix {:mvn/version "0.62.0"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        ubergraph/ubergraph {:mvn/version "0.8.2"}}
 :aliases
 {:run-m {:main-opts ["-m" "nmainiero.advent-2021"]}
  :run-x {:ns-default nmainiero.advent-2021
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :repl/conjure {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                              cider/cider-nrepl {:mvn/version "0.28.4"}}
                 :main-opts  ["-m" "nrepl.cmdline"
                              "--middleware" "[cider.nrepl/cider-middleware]"
                              "--interactive"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
   :exec-fn cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "advent-2021.jar"
                        :main-class "nmainiero.advent-2021"
                        :sync-pom true}}}}
